.modalLoginApp {
    text-align: center;
  }
  
  .modalLogin-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modalLogin-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modalLogin {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
  }
  
  .modalLogin-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .modalLogin-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
  }
  
  .buttonLogin {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: .3rem 1rem;
    margin-left: .5rem;
  }
  
  .button-default {
    background: #247BA0;
    color: #fff;
  }
  .buttonSubmitLogin{
    background-color: #187795!important;
  }
  .homeBody {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    box-sizing: border-box;
    overflow: hidden;

  }