.color1
{
    color:#fbf9ff;
}
.color2
{
    color:#8fe388;
}
.color3
{
    color:#187795;
}
.color4
{
    color:#002147;
}
.color5
{
    color:#040f0f;
}
.bg-color1
{
    background-color:#fbf9ff;
}
.bg-color2
{
    background-color:#8fe388;
}
.bg-color3
{
    background-color:#187795;
}
.bg-color4
{
    background-color:#002147;
}
.bg-color5
{
    background-color:#040f0f;
}