.bodyDetail {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin: 0;
    display: block;
    padding: 0;
    background: #040F0F;
}
.main-content {
    min-height: calc(100vh - 92px);
  }
.infoDetail {
    margin: 0 auto;
    color: #FBF9FF;
    margin-left: 0;
    width: 76%;
    height: 280px;
    text-align: center;
}

.cardDetail {
    position: fixed; 
    display: block;
    background: transparent;
    width: 40%;
    height: auto;
    transform: translateX(195%) translateY(-30%); 
}

.card-twoDetail{
    margin-top: 50px;
    width: 70%;
    margin-left: 30px;
}
.requiredDetail {
    margin-top: 20px;
    margin-left: 30px;
    width: 75%;
}
.opinionCards {
    margin-top: 20px;
    margin-left: 30px;
    width: 95%;
}
.detailBtn {
    background: transparent;
    border: 1px solid #FBF9FF;
}
.detailBtn:hover {
    background: #FBF9FF;
    color: #040F0F;
    transition: 0.5s ease all;
}
.btnBuy {
    width: 100%;
    background: transparent;
    color: #040F0F;
    border: 1px solid #040F0F;
}

.btnBuy:hover{
    transition: 0.5s ease all;
    background: #040F0F;
    color: #FBF9FF;
}
.commentsForm {
    margin-top: 20px ;
    border-radius: 1em;
    border: 1px solid black;
    width: 74%;
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .bodyDetail {
    width: 100%;
    text-align: center;
    }
    .containerDetail {
        width: 100%;
        overflow: hidden;
        font-size: 0.8em;
    }
     .card-twoDetail, .requiredDetail{
        width: 90%;
    }
     .opinionCards, .commentsForm {
         width: 100%;
         padding: 0;
     }
    .infoDetail {
        width: 100%;
        height: auto;
    }
    .cardDetail {   
        display: none;
     }
}



