.bodyDetail {
    box-sizing: border-box;
    margin: 0;
    display: block;
    padding: 0;
    background: #040F0F;
}
.infoDetail {
    margin: 0 auto;
    color: #FBF9FF;
    margin-left: 0;
    width: 76%;
    height: 280px;
    text-align: center;
}

.cardDetail {
    position: fixed;
    background: transparent;
    width: 40%;
    transform: translateX(195%) translateY(-42%); 
}

.card-twoDetail{
    margin-top: 50px;
    width: 70%;
    margin-left: 30px;
}
.requiredDetail {
    margin-top: 20px;
    margin-left: 30px;
    width: 75%;
}

.detailBtn {
    background: transparent;
    border: 1px solid #FBF9FF;
}
.detailBtn:hover {
    background: #FBF9FF;
    color: #040F0F;
    transition: 0.5s ease all;
}
.btnBuy {
    width: 100%;
    background: transparent;
    color: #040F0F;
    border: 1px solid #040F0F;
}

.btnBuy:hover{
    transition: 0.5s ease all;
    background: #040F0F;
    color: #FBF9FF;
}