#searchbar-container{
    margin:auto;
    padding-top: 15px;
    text-align:center;
  }
.searchbar-form-oscuro{
  display:inline;
  font-size:1em;
  border-radius: 8em;
  padding:0.3em;
  background:#8fe388;
}
.searchbar-form-claro{
  display:inline;
  font-size:1em;
  border-radius: 8em;
  padding:0.3em;
  background:#002147;
}
.searchbar-claro{
  transition:all 0.2s ease-out;
  width:1px;
  border-radius:0;
  box-shadow:none;
  outline: none;
  padding:0;
  margin:0;
  border:0;
  background-color:transparent ;
  opacity:0;
  color:#fbf9ff;
}
.searchbar-oscuro{
  transition:all 0.2s ease-out;
  width:1px;
  border-radius:0;
  box-shadow:none;
  outline: none;
  padding:0;
  margin:0;
  border:0;
  background-color:transparent ;
  opacity:0;
  color:#002147;
}
#searchbar:focus{
    width:20em;
    opacity:1;
}
#searchbar-form:hover, label{
    cursor: pointer;
}
.label-oscuro{
    padding-left: 1px;
    display:inline-block;
    margin-top:0.3em;
    left:0.1em;
    color:#002147;
  }
.label-claro{
    padding-left: 1px;
    display:inline-block;
    margin-top:0.3em;
    margin-bottom:0;
    left:0.1em;
    color:#fbf9ff;
  }
  .container-favs-claro
  {
    width: 27em;
    background-color: #002147;
    color: #fbf9ff;
    border-radius: .5rem;
  }
  .container-favs-oscuro
  {
    width: 27em;
    background-color: #8fe388;
    color: #002147;
    border-radius: .5rem;
  }
  .container-result
  {
    display:flex;
  }
  
  .result-icon
  {
    width:10%;
  }
  .result-name
  {
    width:90%;
  }
 