.navbar-container
{
    position:sticky;
    top:0;
    z-index:500;
}
.navbar-link-oscuro
{
    font-size: large;
    width: 12.5%;
    padding: 5px 0px;
    text-align: center;
    transition: all .2s ease;
}

.navbar-link-oscuro:hover
{
    padding:0px;
    text-decoration: none;
    background-color:#8fe388;
    color:#002147;
    border-radius: 1rem;
    font-size: x-large;
    transform: scale3d(1.1);
}

.navbar-link-claro
{
    font-size: large;
    width: 12.5%;
    padding: 5px 0px;
    text-align: center;
    transition: all .2s ease;
}

.navbar-link-claro:hover
{
    padding:0px;
    text-decoration: none;
    background-color:#002147;
    color:#fbf9ff;
    border-radius: 1rem;
    font-size: x-large;
    transform: scale3d(1.1);
}
.container-login-button
{
    display:flex;
    flex-direction: row-reverse;
}
.login-button-claro
{
    height: 40px;
    margin: 20px 10px;
    border-radius: .5rem;
    font-weight: bold;
    padding: 0px 15px;
    background-color:#002147;
    color:#fbf9ff;
}
.login-button-oscuro
{
    height: 40px;
    margin: 20px 10px;
    border-radius: .5rem;
    font-weight: bold;
    padding: 0px 15px;
    background-color:#8fe388;
    color:#002147;
}