.navbar-container
{
    position:sticky;
    top:0;
    z-index:500;
}
.navbar-link-claro
{
    font-size: large;
    width: 12.5%;
    margin:0px 5px;
    padding: 5px;
    text-align: center;
    transition: all .2s ease;
}


.navbar-link-claro:hover
{
    text-decoration: none;
    background-color: #8fe388;
    color: #002147;
    border-radius: .5rem;
    padding:5px;
}


.container-login-button
{
    display:flex;
    flex-direction: row-reverse;
}
.login-button-claro
{
    height: 40px;
    margin: 20px 10px;
    border-radius: .5rem;
    font-weight: bold;
    padding: 0px 15px;
    background-color:#002147;
    color:#fbf9ff;
}
.login-button-oscuro
{
    height: 40px;
    margin: 20px 10px;
    border-radius: .5rem;
    font-weight: bold;
    padding: 0px 15px;
    background-color:#8fe388;
    color:#002147;
}