.page-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-copyright{
    background-color: #021b37;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color: #187795;
}
a:hover{
    color: #18a7d3;
}
.icoSocials {
    margin-right: 20px;
    font-size: larger;
    font-size: 175%;
    color: white;
}
.icoContact{
    margin-right: 10px;
    font-size: larger;
    font-size: 125%;
}
.deep-purple{
    background-color: #187795;
    width: 60px;
}
.p-footer{
    color:white;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 0px;
}