.usermenu-container
{
    width:100%;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 15px;
    padding-right: 30px;
}
.usermenu-link-oscuro, .usermenu-initials-oscuro
{
    background-color: #8fe388;
    padding:5px;
    margin: 0px 10px;
    height:30px;
    width: 30px;
}
.usermenu-link-claro, .usermenu-initials-claro
{
    background-color:#002147;
    padding:5px;
    margin: 0px 10px;
    height:30px;
    width: 30px;
}
.usermenu-link-claro,.usermenu-link-oscuro
{
    border-radius: .2rem;
}
.usermenu-initials-claro, .usermenu-initials-oscuro
{
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    padding: 3px 0px 0px 0px;
    cursor:pointer;
}

.initials-content-claro
{
    display: none;
    position: absolute;
    background-color:#002147;
    left:-70px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: .2rem;
}
.initials-content-oscuro
{
    display: none;
    position: absolute;
    background-color: #8fe388;
    left:-70px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: .2rem;
}
.initials-container
{
    position:relative;
}
.initials-container:hover .initials-content-claro,.initials-container:hover .initials-content-oscuro{
    display:block
}
.initials-link-claro,.initials-link-oscuro
{
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.initials-link-claro:hover{
    background-color: #187795;
    color: #fbf9ff;
    text-decoration:none;
}
.initials-link-oscuro:hover
{
    background-color: #7abe73;
    text-decoration:none;
}
.big-container
{
    min-width:250px;
    left:-125px;
}